<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
        	<div class="ibox-title">
                <h5>Customers</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                <div class="col-lg-9">
                  <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                  </div>
                </div>
                <div class="col-lg-3">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins"><%= @customers.count %></h2>
                            <small>Total Customers in last 14 Days</small>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins "><%= @reservations.count %></h2>
                            <small>Total Reservations in last 14 Days</small>
                            <div class="progress progress-mini">
                                <div style="width: 60%;" class="progress-bar"></div>
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    $(function() {
        var data2 = []
        var data3 = []
        <% @customers.each do |customer|%>
            var date = gd(<%= customer.created_at.strftime('%Y').to_i %>,<%= customer.created_at.strftime('%m').to_i %>,<%= customer.created_at.strftime('%d').to_i %>)
            data3.push([date,<%= @customers.count %>])
            data2.push([date,<%= @customers.count %>])
        <% end %>

        var dataset = [
            {
                label: "Reservations",
                data: data3,
                color: "#1ab394",
                bars: {
                    show: true,
                    align: "center",
                    barWidth: 24 * 60 * 60 * 600,
                    lineWidth: 0
                }

            }, {
                label: "No. of Customers",
                data: data2,
                yaxis: 2,
                color: "red",
                lines: {
                    lineWidth: 1,
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.2
                        }, {
                            opacity: 0.2
                        }]
                    }
                },
                splines: {
                    show: false,
                    tension: 0.6,
                    lineWidth: 1,
                    fill: 0.1
                },
            }
        ];


        var options = {
            xaxis: {
                mode: "time",
                tickSize: [3, "day"],
                tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 10,
                color: "#d5d5d5"
            },
            yaxes: [{
                position: "left",
                max: 1070,
                color: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 3
            }, {
                position: "right",
                clolor: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: ' Arial',
                axisLabelPadding: 67
            }
            ],
            legend: {
                noColumns: 1,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: false,
                borderWidth: 0
            }
        };

        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        //$.plot($("#flot-dashboard-chart"), dataset, options);




    });


</script>