<div class="ibox-content" id="mappings_list">
  <% if @mappings.present? %>
      <% if @message.present? %>
        <% message_class = @message_class.present? ? @message_class : 'success' %>
        <div class="alert alert-<%= message_class %>" style="text-align: center;"> <%= @message %> </div>
      <% end %>
      <%= will_paginate @mappings , renderer: BootstrapPagination::Rails %>
      <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <thead>
        <tr>
          <th>Mapping Name</th>
          <th>Cloudbed Name</th>
          <th>QuickBook Name</th>
          <th>QB ID</th>
          <th>Cloudbed ID</th>
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @mappings.each do |mapping| %>
            <tr>
              <td>
                <%= mapping.name %> 
              </td>
              <td>
                <%= mapping.get_display_name(params[:name], mapping.cloudbed_id, 'Cloudbed') %>
              </td>
              <td>
                <%= mapping.get_display_name(params[:name], mapping.qbo_id, 'QuickBook') %>
              </td>
              <td>
                <%= mapping.qbo_id %> 
              </td>
              <td>
                <%= mapping.cloudbed_id %> 
              </td>
              <td class="project-actions">
                <%= link_to '<i class="fa fa-trash-o"></i> Destroy'.html_safe,mapping_path(id: mapping.id, name: params[:name]),  :method => 'delete', :class => 'btn btn-white btn-sm', data: { confirm: 'Are you sure?' }%>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <% if @message.present? %>
        <div class="alert alert-danger" style="text-align: center;"> <%= @message %> </div>
      <% else %>
        <div class="alert alert-danger" style="text-align: center;"> No Mappings Added Yet</div>
      <% end %>
  <% end %>
</div>