<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
      <ul class="nav metismenu" id="side-menu">

        <li class="">
          <a href="<%= customers_path %>"><i class="fa fa-user"></i>Customers</a>
          <a href="<%= sales_receipts_path %>"><i class="fa fa-credit-card"></i>Sales Receipts</a>
          <a href="<%= mappings_path %>"><i class="fa fa-retweet"></i>Mappings</a>
          <a href="<%= reservations_path %>"><i class="fa fa-ticket"></i>Reservations</a>
          <a href="<%= transactions_path %>"><i class="fa fa-exchange"></i>All Transactions</a>
          <a href="<%= syncing_errors_path %>"><i class="fa fa-exclamation-triangle"></i>All Errors</a>
          <% if session[:email].present? %>
              <a href="<%= sign_out_login_index_path %>"><i class="fa fa-sign-out"></i>Logout</a>
          <% end %>          
        </li>

      </ul>

    </div>
  </div>
</nav>